

<div class="card-group">
    <div class="card">
      <img [src]="imgUrl" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Samsung M30 </h5>
        <p class="card-text">Segment Best 16.21 centimeters (6.4-inch) Super AMOLED - Infinity U-cut display, FHD+ resolution with 90Hz Refresh rate, 800 Nits High Brightness Mode, protected by Gorilla Glass 5
            Versatile 64MP+8MP+2MP+2MP Quad camera setup-64MP (F 1.8) main camera + 8MP (F2.2) Ultra wide camera+ 2MP (F2.4) depth camera + 2MP (2.4) Macro Camera| 20MP (F2.2) front camera
            Monster 6000 mAh Battery | Memory, Storage & SIM: 4GB RAM | 64GB internal memory expandable up to 1TB| SIM 1 + SIM 2 + MicroSD
p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
    <div class="card">
      <img [src]="shoesUrl" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Puma Men's Snatch V2 Sneakers</h5>
        <p class="card-text">Sole: Rubber<br>
            Closure: Lace-Up<br>
            Fit Type: Regular<br>
            Shoe Width: Medium<br>
            Style Name:- Casual Shoe<br>
            Model Name:- Snatch V2<br>
            Brand Color:-Black-White<br>
            Wipe with a clean dry cloth</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
    <div class="card">
      <img [src]="redmiTv" class="card-img-top" style="margin: top 100px; ;" alt="...">
      <div class="card-body">
        <h5 class="card-title">Redmi 80 cm (32 inches) Android 11 Series HD Ready Smart LED TV</h5>
        <p class="card-text">Resolution: HD Ready (1366 x 768) | Refresh Rate: 60 hertz | 178 Degree wide viewing angle
          Connectivity: 2 HDMI ports to connect set top box, Blu-Ray players, gaming console | 2 USB ports to connect hard drives and other USB devices | 3.5mm to connect your headphones | Bluetooth 5.0 to connect Bluetooth speakers, earphones and TWS earphones
          Sound: 20 Watts Powerful Stereo Speakers | Dolby Audio | DTS Virtual: X and DTS-HD | Dolby Atmos pass through ARC port
          Smart TV Features : Android TV 11 | Chromecast built-in | PatchWall 4 with IMDb integration | Kids Mode with Parental Lock | 75+ Free Live Channels | Universal search | Language Universe (16+ Languages) | India's Top 10 | Miracast | Supported Apps: Prime Video | Netflix | Disney + Hotstar | YouTube | Apple TV | 5000+ apps from Play Store | Auto Low Latency Mode | Quad core processor | Dual band Wi-Fi | 1GB RAM + 8GB Storage
          Display: A+ Grade LED panel | Vivid Picture Engine | Detailed Picture Controls | Ultra bright screen | Dynamic contrast | Dynamic backlight</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
  </div>
  <br>
